@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms linear ;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-header  {
  background: rgba(172, 142, 124, .7) ;

}

p{
  color: white;
}
.strip{
  background-color: rgba(172, 142, 124, .5)
}
.homeButtons{
  background-color: transparent;
}
.homeButtons:hover{
  background-color: rgba(172, 142, 124, .5);
  color: black;
  border-color: black;

}
  .homeButtons:focus{
    background-color: transparent;
  }
.start-now{
  position:absolute;
  background-color:#F3DDD1;
color:black;
fontSize:16
}
.start-now:hover{
  position:absolute;
  background-color:#F3DDD1;
color:black;
fontSize:16;
  border-color:black;
}

.site-header
{
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}


.title{
  color: white;
  font-family: Courier;

}
h6{
  color: white;
}
Title{
  color: white;
}

hr.rounded {
  border-top: 3px solid #7F7473;
  border-radius: 5px;

}
.bold-heading {
    font-size: 45px;
    color: white;
  }
.course-names-icons{
  height: 45px;
  width: 50px;
  margin:20px;
}
.course-topics{
  margin-top: 20px;
  margin-left: 20px;
    color: white;
  font-weight: bold;
}
hr.new {
  border-top: 6px solid #715335;
  border-radius: 2%;
}
.search-input
{
  width:500px;
  background-color:#FBF1E7;
  background-size:30px 30px;
  background-position:8px center;
  background-repeat: no-repeat;
  border-radius:40px;
  margin-top: 8px;
  padding-left: 40px;
  margin-left: 100px;
  height:40px;
  outline:none;
}

.course-button{
  background-color: #E5D2C7;
    border: transparent;
  height: 35px;
  margin-right: 5px;

}
@media screen and (min-width: 100px)
and (max-width:500px){
  .homeButtons:focus{
    background-color: transparent;
  }
.course-names-icons{
  height: 35px;
  width: 35px;
  margin:5px;
}
.course-topics{
  margin-top: 12px;

    color: white;
  font-weight: bold;
  font-size: 12px;
}
  .two-box{
    border-style: none;
    padding:0 ;
    margin:0;
    width: 100vw;
  }
  .home-boxes{
    margin-right: 0;
  }
  .bold-heading {
    font-size: 22px;
    color: #e3d0c5;

  }
  .course-button{
  background-color: #E5D2C7;
    border: transparent;
  height: 25px;
  margin-right: 5px;

}
  .course-button:visited{
  background-color: #E5D2C7;
    border: transparent;
  height: 25px;
  margin-right: 5px;
}
.text-in-button{
  font-size:11px;
  color:black;
  padding-top:5px;
}
.search-input
{
  width:70vw;
  background-color:#FBF1E7;
  background-size:20px 20px;
  background-position:8px center;
  background-repeat: no-repeat;
  border-radius:10px;
  margin-top: 16px;
  height:30px;
  outline:none;
  margin-left:8px;
}
  .home-buttons{
    float:left;
    margin-top:15px;
    width:140px;
    height:33px;
    border-color: #e3d0c5;
    color:#e3d0c5;
    background-color: transparent;
    border-width:2px;
    font-size:13px;
  }
  .home-buttons:hover{
    background-color: transparent;
  }

}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
