@import '~antd/dist/antd.css';

.course-slide1{
    background-color: #AE998D;
    height:25vh;
    width:20vw;
    margin:40px;
    margin-right:40px;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
    z-index: 5;
    outline: none;

}
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.menu-item.active {
  border: 1px brown solid;
}


.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
.course-slide1-down{
   background-color: #AE998D;
    height:25vh;
    width:20vw;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
    z-index: 5;

}

.course-slide1:hover{

    background-color: #F3E3DA;
    transform: translateY(-20px);

    border-radius:10px;
    border-color: #796051 ;
    z-index: 4;

}

.course-slide1-down:hover{
      background-color: #F3E3DA;
    /*transform: matrix(1,0,0,1,0,-50);*/
    /*margin:20px;*/
    border-radius:10px;
    border-color: #796051 ;
    z-index: 3;
        transform: scale(1.1);
}
.details{
    display: none;
    color: #AE998D;
}
.heading{
    position: absolute;
    bottom:0;
    color:white;


}
.course-slide1:hover .heading {
    top:0;
    display: block;
    color: #796051;
    transform: scale(0.9);


}
.course-slide1:hover .details{
    display: block;
    position: absolute;
    bottom: 0;
    transform: scale(1,.5);
}



.img-slide1{
    height:7vh;
    width:9vh;
    margin-right: 2vw;
    margin-top:10px;
}





@media screen and (min-width: 100px)
and (max-width:500px){
.course-slide1{
    background-color: #AE998D;
    height:25vh;
    width:45vw;
    margin-right:20px;
    margin-top: 10px;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
    z-index: 5;
    outline: none;

}
    .course-slide1-down{
   background-color: #AE998D;
    height:25vh;
    width:45vw;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
    z-index: 5;

}
    .second-slide-icon-mobile p{
        font-size:12px;
        text-align:center;
        color:#796051;
    }
.img-slide1{
    height:6vh;
    width:6vh;
    margin-right: 2vw;
}

    .scroll-menu-arrow {
  padding: 0px;
  cursor: pointer;
}

    }
