@import '~antd/dist/antd.css';

.course-slide1{
    background-color: #AE998D;
    height:25vh;
    width:25vw;
    margin:20px;
    margin-top: 0;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
}
.course-slide1-sm-box{
    background-color: #AE998D;
    height:11vh;
    width:11vw;
    margin:20px;
    margin-top: 0;
    border-radius:5px;
    border-style: solid;
    border-color: #AE998D;
    transition: .5s;
}
.course-slide1-sm-box h5{
    position:absolute;
    bottom: 0;
    font-size: 1vw;
    color: white;
}.course-slide1-sm-box h5{
    position:absolute;
    bottom: 0;
    font-size: 1vw;
    color: white;
}
.course-slide1-down{

  background-color: #AE998D;
    height:160px;
    width:340px;
    margin:10px;
    border-radius:5px;
    transition: .5s;

}

.course-slide1:hover{

    background-color: #F3E3DA;
    transform: matrix(1,0,0,1.5,0,50);
    /*margin:20px;*/
    border-radius:10px;
    border-color: #796051 ;
    z-index: 3;

}
.course-slide1-sm-box:hover{

    background-color: #F3E3DA;
    transform: matrix(1,0,0,1.5,0,50);
    /*margin:20px;*/
    border-radius:10px;
    border-color: #796051 ;
    z-index: 3;

}
.course-slide1-down:hover{
      background-color: #F3E3DA;
    transform: matrix(1,0,0,1.5,0,-50);
    /*margin:20px;*/
    border-radius:10px;
    border-color: #796051 ;
    z-index: 3;
}
.details{
    display: none;
    color: #AE998D;
}
.heading{
    position: absolute;
    bottom:0;
    color:white;


}
.course-slide1:hover .heading {
    top:0;
    display: block;
    color: #796051;
    transform: scale(1,.5);


}
.course-slide1:hover .details{
    display: block;
    position: absolute;
    bottom: 0;
    transform: scale(1,.5);
}
.course-slide1-down:hover .heading{
    position:static;
    color: #796051;
    transform: scale(1,.7);

}
.course-slide1-down:hover .details{
    display: block;
    position: absolute;
    bottom: 0;
     transform: scale(1,.7);
}


.img-slide1{
    height:10vh;
    width:10vh;
    margin-right: 2vw;
}





@media screen and (min-width: 100px)
and (max-width:500px){


    }
