@import '~antd/dist/antd.css';

.img-card{
background-color: #D5B08F ;
    margin: 20px;
    height: 35vh;
    width: 30vw;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.img-card h2{

    padding-left:6px;
    padding-right:6px;
    color:#796051;
    font-size: 2vw;

}
.img{
    height:80px;
width:80px;
border-radius:50px;
border-style:solid;
    border-width: 5px;
    border-color:#8A7162;
position:relative;

    top:-3.2vh

}

@media screen and (min-width: 100px)
and (max-width:500px) {
.img{
    margin-top: 5px;
    height:50px;
width:50px;
border-radius:30px;
border-style:solid;
    border-width: 2px;
    border-color:#8A7162;
position:relative;

    top:-3.2vh
}

    .img-card h2{
        padding-right:15px;
        padding-left:15px;
        font-size: 6vw;
    }
    .img-card{
background-color: #D5B08F ;
    margin: 20px;
    height: 35vh;
    width: 80vw;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}

}